{###############################################################################

Expected context variables:

- `code` -> a `ecczoogen.code.Code` object, with relations field
            populated (i.e., it must have been added to a
            `ecczoogen.code_collection.CodeCollection` which was subsequently
            finalized with its `finished()` method.)

################################################################################}

<!-- renamed elements:
     dl -> section
     dt -> h2
     dd -> div class="sectioncontent"
  -->

<section class="ecc-code ecc-code-page info-popup-button-zone" id="ecc_{{code.code_id}}">

<!--<h2></h2>-->
<div class="sectioncontent info-popup-button-container"></div>

<h2 id="code_name" class="code-name">Name</h2>
<div class="sectioncontent code-name">
  <span class="code-name-cell">
  <span class="code-name">{{code.name}}</span>
  {%- if code.introduced -%}
    <span class="code-introduced">{{code.introduced | to_html_with_notes(rc)}}</span>
  {%- endif -%}
  </span>
  <!--<a class="code-info-corner-icon code-self-permalink"
   title="permanent link to this code (click and then copy the location in the address bar)"
   href="{{code|code_ref_href}}">&nbsp;</a>-->
</div>


<h2 id="description" class="code-description">Description</h2>
<div class="sectioncontent code-description">{{code.description | to_html_with_notes(rc)}}</div>

{% if code.protection %}
<h2 id="protection" class="code-protection">Protection</h2>
<div class="sectioncontent code-protection">{{code.protection | to_html_with_notes(rc)}}</div>
{% endif %}


<!-- Display features -->


{# helper macro to display features #}

{% macro disp_feature_field(featurename, label) -%}
  {%- if code['features'][featurename] -%}
  <h2 id="feature_{{featurename}}"
      class="code-feature code-feature-{{featurename}}">{{label}}</h2>
  <div class="sectioncontent code-feature code-feature-{{featurename}}">
    {{- code['features'][featurename] | to_html_with_notes(rc) -}}
  </div>
  {% endif %}
{%- endmacro %}


{{ disp_feature_field('rate', 'Rate') }}

{{ disp_feature_field('magic_scaling_exponent', 'Magic') }}

{{ disp_feature_field('encoders', 'Encoding') }}

{{ disp_feature_field('transversal_gates', 'Transversal Gates') }} {# note NON-BREAKING SPACE #}

{{ disp_feature_field('general_gates', 'Gates') }}

{{ disp_feature_field('decoders', 'Decoding') }}

{{ disp_feature_field('fault_tolerance', 'Fault Tolerance') }}

{{ disp_feature_field('code_capacity_threshold', 'Code Capacity Threshold') }}

{{ disp_feature_field('threshold', 'Threshold') }}


{% if code.realizations %}
<h2 id="realizations" class="code-realizations">Realizations</h2>
<div class="sectioncontent code-realizations">
  {{code.realizations | to_html_with_notes(rc)}}
</div>
{% endif %}

{% if code.notes %}
<h2 id="notes" class="code-notes">Notes</h2>
<div class="sectioncontent code-notes">
  {{code.notes | to_html_with_notes(rc)}}
</div>
{% endif %}


<!-- Relationships to other codes -->

{% if code.relations.parents %}
<h2 id="relations_parents" class="code-parents">
  {% if code.relations.parents|length > 1 %}
    Parents
  {% else %}
    Parent
  {% endif %}
</h2>
<div class="sectioncontent code-parents">
  {% set use_relation_type = 'parents' %}
  {% set use_relations = code.relations.parents %}
  {% include 'pieces/list_code_relations.html' %}
</div>
{% endif %}

{% if code.relations.parent_of %}
<h2 id="relations_parent_of" class="code-parent-of">
  {% if code.relations.parent_of|length > 1 %}
    Children
  {% else %}
    Child
  {% endif %}
</h2>
<div class="sectioncontent code-parent-of">
  {% set use_relation_type = 'parent-of' %}
  {% set use_relations = code.relations.parent_of %}
  {% include 'pieces/list_code_relations.html' %}
</div>
{% endif %}

{% if code.relations.cousins or code.relations.cousin_of %}
<h2 id="relations_cousins" class="code-cousins">
  {% if code.relations.cousins|length + code.relations.cousin_of|length > 1 %}
    Cousins
  {% else %}
    Cousin
  {% endif %}
</h2>
<div class="sectioncontent code-cousins">
  {% set use_relation_type = 'cousins' %}
  {% set use_relations = [] + code.relations.cousins|list + code.relations.cousin_of|list %}
  {% include 'pieces/list_code_relations.html' %}
</div>
{% endif %}


<!-- zoo-related information and how to edit -->

<h2 class="display-code-id h2-wrap-label redundant-if-info-popup-button-installed">
  Zoo code information
</h2>
<div class="sectioncontent display-code-id redundant-if-info-popup-button-installed">
  <div>
    <span class="display-code-id-label">Internal code ID:</span>
    {{code.code_id}}
  </div>{#
#}<div class="code-popup-info-frame"
       data-is-code-info-popup="1"
       data-popup-button-label="edit"
       data-popup-button-class-list="code-self-edit">{#
    #}<h2>Your contribution is welcome!</h2>{#
    #}<p><a class="code-link-with-icon code-show-github"
       target="_blank"
       title="Edit code information directly on github.com"
       href="https://github.com/errorcorrectionzoo/eczoo_data/tree/main/codes/{{code.source_info_filename}}">on github.com (edit &amp; pull request)</a></p>{#
    #}<p><a class="code-link-with-icon code-self-edit"
       target="_blank"
       title="edit code information on this site without using github"
       href="{{ ('edit_code?code_id='+code.code_id) | prebaseurl }}">edit on this site</a></p>{#
    #}<p class="zoo-code-id">Zoo Code ID: <code>{{code.code_id}}</code>{#
  #}</div>{#
#}<div class="code-popup-info-frame"
     data-is-code-info-popup="1"
     data-popup-button-label="cite"
     data-popup-button-class-list="code-show-citation">
  <dl class="show-citation">
    <dt>Cite as:</dt>
    <dd>“{{code.name|minilatex}}”, The Error Correction Zoo (V. V. Albert & P. Faist, eds.), {{code.citation_info.year}}. https://errorcorrectionzoo.org{{code|code_ref_href}}</dd>
    <dt>BibTeX:</dt>
    <dd class="bibtex">{#
#}@incollection{{ '{' }}eczoo_{{code.code_id}},
title={{'{'}}{{ code.name|minilatex }}{{'}'}},
booktitle={The Error Correction Zoo},
year={{'{'}}{{code.citation_info.year}}{{'}'}},
editor={Albert, Victor V. and Faist, Philippe},
url={{'{'}}https://errorcorrectionzoo.org{{code|code_ref_href}}{{'}'}}
{{ '}' }}{#
  #}</dd>
    <dt>Permanent link:</dt>
    <dd>https://errorcorrectionzoo.org{{code|code_ref_href}}</dd>
  </dl>
</div>
</div>




<!-- endnotes -->

<h2>References</h2>
{% set divendnotesclass="sectioncontent" %}
{% include 'pieces/endnotes.html' %}


</section>
