{###############################################################################

Expected context variables:

- `code` -> a WRAPPED `ecczoogen.code.Code` object, with relations field
            populated (i.e., it must have been added to a
            `ecczoogen.code_collection.CodeCollection` which was subsequently
            finalized with its `finished()` method.)

################################################################################}

<dl class="ecc-code ecc-code-page" id="ecc_{{code.code_id}}">

<dt>Name</dt>
<dd class="code-name">{{code.name}}
  {% if code.introduced %}<span class="code-introduced">{{code.introduced}}</span>{% endif %}
  <a class="code-info-corner-icon code-self-permalink"
     href="{{code|code_ref_href}}">&nbsp;</a>
  <a class="code-info-corner-icon code-show-github"
     target="_blank"
     href="https://github.com/errorcorrectionzoo/eczoo_data/tree/main/codes/{{code.code_src_filename}}">&nbsp;</a></dd>

<dt>Description</dt>
<dd class="code-description">{{code.description}}</dd>

{% if code.protection %}
<dt>Protection</dt>
<dd class="code-protection">{{code.protection}}</dd>
{% endif %}

{% if code.decoder %}
<dt>Decoder</dt>
<dd class="code-decoder">{{code.decoder}}</dd>
{% endif %}

{% if code.features %}
<dt>Features</dt>
<dd class="code-features">
  <dl class="features-list">
{% for featurename, featuretext in code.features.items() %}
    <dt>({{featurename}})</dt>
    <dd>{{featuretext}}</dd>
{% endfor %}
  </dl>
</dd>
{% endif %}

{% if code.notes %}
<dt>Notes</dt>
<dd class="code-notes">
{% for note in code.notes %}
{{note}} {{ ' ' }}
{% endfor %}
</dd>
{% endif %}

{% if code.realizations %}
<dt>Realizations</dt>
<dd class="code-realizations">{{code.realizations}}</dd>
{% endif %}

{% if code.relations.parents %}
<dt>Parent(s)</dt>
<dd class="code-parents">
{% set use_relation_type = 'parents' %}
{% set use_relations = code.relations.parents %}
{% include 'pieces/list_code_relations.html' %}
</dd>
{% endif %}

{% if code.relations.parent_of %}
<dt>Parent of</dt>
<dd class="code-parent-of">
{% set use_relation_type = 'parent-of' %}
{% set use_relations = code.relations.parent_of %}
{% include 'pieces/list_code_relations.html' %}
</dd>
{% endif %}

{% if code.relations.cousins %}
<dt>Cousin(s)</dt>
<dd class="code-cousins">
{% set use_relation_type = 'cousins' %}
{% set use_relations = code.relations.cousins %}
{% include 'pieces/list_code_relations.html' %}
</dd>
{% endif %}

{% if code.relations.cousin_of %}
<dt>Cousin of</dt>
<dd class="code-cousin-of">
{% set use_relation_type = 'cousin-of' %}
{% set use_relations = code.relations.cousin_of %}
{% include 'pieces/list_code_relations.html' %}
</dd>
{% endif %}


</dl>
