{###############################################################################

Expected context variables:

- `code` -> a WRAPPED `ecczoogen.code.Code` object, with relations field
            populated (i.e., it must have been added to a
            `ecczoogen.code_collection.CodeCollection` which was subsequently
            finalized with its `finished()` method.)

################################################################################}

<div class="ecc-code" id="ecc_{{code.code_id}}">
  <span class="short-code-name">{{code|code_ref}}
    {%- if code.introduced %}<span class="code-introduced">{{code.introduced|to_html_with_notes(rc)}}</span>{% endif -%}
  </span>
  <span class="short-code-description">{{code.description|to_html_with_notes(rc)}}</span>
  {% if code.protection %}
  <span class="short-code-info">Protection: {{code.protection|to_html_with_notes(rc)}}</span>
  {% endif %}
  {% if code.relations.parents %}
  <span class="short-code-parents">
    Parents:
    {% for rel in code.relations.parents %}
      {{ rel.code | code_ref }}{#
      #}{{ ', ' if not loop.last else '' -}}
    {% endfor -%}
    .
  </span>
  {% endif %}
  {% if code.relations.parent_of %}
  <span class="short-code-parent-of">
    Parent of:
    {% for rel in code.relations.parent_of %}
      {{ rel.code | code_ref }}{#
      #}{{ ', ' if not loop.last else '' -}}
    {% endfor -%}
    .
  </span>
  {% endif %}
  {% if code.relations.cousins %}
  <span class="short-code-cousins">
    Cousins:
    {% for rel in code.relations.cousins %}
      {{ rel.code | code_ref }}{#
      #}{{ ', ' if not loop.last else '' -}}
    {% endfor -%}
    .
  </span>
  {% endif %}
  {% if code.relations.cousin_of %}
  <span class="short-code-cousin-of">
    Cousin of:
    {% for rel in code.relations.cousin_of %}
      {{ rel.code | code_ref }}{#
      #}{{ ', ' if not loop.last else '' -}}
    {% endfor -%}
    .
  </span>
  {% endif %}
</div>
