{###############################################################################

Expected context variables:

- `page_footnotes` -> a `ecczoogen.htmlpagecollection.HtmlPageNotes` object

################################################################################}

{% if page_footnotes.footnotes or page_footnotes.citations %}
   <div id="endnotes">
{% if page_footnotes.footnotes %}
    <dl id="footnotes">
{% for footnote in page_footnotes.footnotes %}
      <dt id="fn-{{footnote.no}}">{{footnote.no|format_footnote_label_html}}</dt>
      <dd>{{footnote.full_footnote_text_html()}}</dd>
{% endfor %}    
    </dl>
{% endif %}
{% if page_footnotes.citations %}
    <dl id="citations">
{% for citation in page_footnotes.citations %}
      <!-- Citation: {{citation.citation_key}} -->
      <dt id="cite-{{citation.no}}">{{citation.no|format_citation_label_html}}</dt>
      <dd>
        {{ citation.full_citation_text_html() }}
      </dd>
{% endfor %}    
    </dl>
{% endif %}
   </div>
{% endif %}
