{###############################################################################

Expected context variables:

- `use_relations`: A list of `ecczoogen.code.Relation` objects

- `use_relation_type`: What type of relation the given relation objects are,
  e.g., 'parents', 'parent-of', 'cousins', 'cousin-of'.  This information is
  used for setting relevant CSS classes.

################################################################################}


{% if not use_relations %}
<span class="na">(none)</span>
{% else %}
<ul class="code-relations-list code-{{use_relation_type}}-list">
{% for rel in use_relations %}
  <li class="paragraph-in-list">
    <span class="code-{{use_relation_type}}-1-code">{{ rel.code | code_ref }}</span>
  {%- if rel.detail %}
    <span class="code-{{use_relation_type}}-1-detail">({{rel.detail | to_html_with_notes(rc)}})</span>
  {%- endif -%}
  {# {{- ", " if not loop.last else "" }} #}
  </li>
{% endfor %}
</ul>
{% endif %}
