{#- Navigation links to use on code pages -#}
<!-- <h1>Related codes</h1> -->
{#- -#}
<ul class="navlinks">
{%- for reltype in ['parents', 'parent_of', 'cousins', 'cousin_of'] -%}
  {% set max_rel = 4 if reltype in ['parents', 'parent_of'] else 3 %}
  {%- for rel in code.relations[reltype][:max_rel] -%}
    {#- {%- if reltype == 'parents' and loop.index0 == 0 -%}
      { #- very first code in the listing --- use longer name -# }
      <li>{{ rel.code|code_ref }}</li>
    {%- else -%} -#}
      <li>{{ rel.code|short_code_ref }}</li>
      {%- if reltype == 'parents' and rel.code and loop.index0 == 0 -%}
        {#- climb up the direct parent hierarchy (first parents only) a couple levels -#}
        {%- if rel.code.relations.parents -%}
          <li>{{ rel.code.relations.parents[0].code|short_code_ref }}</li>
          {%- if rel.code.relations.parents[0].code.relations.parents -%}
            <li>{{ rel.code.relations.parents[0].code.relations.parents[0].code|short_code_ref }}</li>
          {%- endif -%}
        {%- endif -%}
      {%- endif -%}
    {#- {%- endif -%} -#}
  {%- endfor -%}
{%- endfor -%}
</ul>
{#- links to high-level domains simply -#}
{%- for domain in domains -%}
  <h1><a href="{{domain.htmlpage.path() | prebaseurl}}">{{domain.name | llmrender }}</a></h1>
{%- endfor -%}
{#-##############-#}
<h1></h1>{#- use empty <h1> for new section in navigation header links -#}
{#- -#}
<ul class="navlinks">
  {#- -#}
  <li><a href="{{ '' | prebaseurl }}">Home</a></li>
  {#- -#}
  <li><a href="{{ 'team' | prebaseurl }}">Team</a></li>
  {#- -#}
  <li><a href="{{ 'about' | prebaseurl }}">About</a></li>
  {#- -#}
  <li><a href="{{ 'code_graph' | prebaseurl }}">Code graph</a></li>
  {#- -#}
  <li><a href="{{ 'lists' | prebaseurl }}">Code lists</a></li>
  {#- -#}
  <li><a href="{{ 'concepts' | prebaseurl }}">Concepts Glossary</a></li>
  {#- *** -#}
  {#- -#}
  <li><a href="{{ 'edit_code' | prebaseurl }}">Add new code</a></li>
  {#- <li><a href="{{ 'additional_resources' | prebaseurl }}">Additional resources</a></li> -#}
  {#- -#}
  <li><a href="{{ 'search' | prebaseurl }}">Search</a></li>
  {#- -#}
</ul>
