*~
.DS_Store

__pycache__

out


# folder is in the other branch, in this branch it only contains backup ~ files
# etc.
jscomponents/eczpytranscrypt



eczpdfgen/ecznote.log
eczpdfgen/ecznote.aux
eczpdfgen/ecznote.toc
eczpdfgen/ecznote.pdf
eczpdfgen/ecznote.synctex.gz

_tmppdf


my_codes.pdf


tools/contributors_via_git/extracted_code_contributions-20220929T144846.json.patch
tools/contributors_via_git/extracted_code_contributions-20220929T144846.patched.json
