dl {
  display: grid;
  grid-template-columns: max-content auto;
}

dt {
  grid-column-start: 1;
  font-weight: bold;
}

dd {
  grid-column-start: 2;
}


.ecc-code {
    margin-bottom: 2em;
}

.na {
    font-style: italic;
    color: #aaa;
}
