{% extends 'layout/base_page.html' %}
{% block block_page_title %}Error Correction Zoo — About{% endblock %}


{# Helper macro to display people #}

{% macro person_tile(name, githubusername="", gscholaruser="", pageurl="", zootitle="", avatarurl="") -%}
    {%- if pageurl -%}
      {%- set use_url = pageurl -%}
    {%- elif gscholaruser -%}
      {%- set use_url = 'https://scholar.google.com/citations?user='+gscholaruser -%}
    {%- else -%}
      {%- set use_url = '' -%}
    {% endif %}
    <a href="{{use_url}}"
       target="_blank"
       class="tile"
       {% if avatarurl %}
         data-tile-image="{{avatarurl}}"
       {% elif githubusername %}
         data-tile-image="https://github.com/{{githubusername}}.png"
       {% endif %}
       >
      <span class="tile-content">
        <span class="person-name">{{name}}</span>
        {% if zootitle %}
        <span class="person-zootitle">
          ({{zootitle}})
        </span>
        {% endif %}
      </span>
    </a>
{%- endmacro %}


{# THE CONTENTS OF THE WEB PAGE STARTS HERE --> #}

{% block contents %}

<h1>The Zoo core team</h1>

<section class="tiles-collection person-list">

{{
   person_tile("Victor V. Albert",
               githubusername="valbert4",
               gscholaruser="hyddAfkAAAAJ",
               pageurl="",
               zootitle="zookeeper")
}}

{{
   person_tile("Philippe Faist",
               githubusername="phfaist",
               gscholaruser="rdeNGqMAAAAJ",
               pageurl="https://phfaist.com",
               zootitle="architect")
}}

</section>


{# <h1>A huge thanks to:</h1> #}
<h1>With the awesome help of:</h1>

<h2>Veterinarians</h2>

<section class="tiles-collection person-list">

{# use argument `` avatarurl="..." `` to specify a photo for each person
   if they do not have a github user ID and profile pic #}

{{
   person_tile("Daniel Gottesman",
               pageurl="https://quics.umd.edu/people/daniel-gottesman")
}}

{{
   person_tile("Alexander Barg",
               pageurl="https://user.eng.umd.edu/~abarg/")
}}

{{
   person_tile("Leonid Pryadko",
               gscholaruser="S8iAOo4AAAAJ")
}}

</section>


<h2>Code contributions</h2>

<section class="tiles-collection person-list">

{{
   person_tile("Michael Vasmer",
               githubusername="MikeVasmer",
               gscholaruser="YWXgW2wAAAAJ")
}}

{{
   person_tile("Joschka Roffe",
               githubusername="quantumgizmos",
               gscholaruser="vGDLxeoAAAAJ")
}}

{{
   person_tile("Pavel Panteleev",
               githubusername="",
               gscholaruser="adjeaUkAAAAJ")
}}

{{
   person_tile("Michael Gullans",
               githubusername="mgullans",
               gscholaruser="YP7rWbkAAAAJ")
}}

{{
   person_tile("Nolan Coble",
               pageurl="https://nolanjcoble.com")
}}

{{
   person_tile("Dhruv Devulapalli")
}}

{{
   person_tile("Xiaozhen Fu")
}}

{{
   person_tile("Srilekha Gandhari")
}}

{{
   person_tile("Joseph T. Iosue",
               pageurl="https://jtiosue.github.io/pages/about/about.html")
}}

{{
   person_tile("Jonathan Kunjummen")
}}

{{
   person_tile("Seyed Sajjad Nezhadi",
               pageurl="sajjad-nezhadi.github.io")
}}

{{
   person_tile("Qingfeng (Kee) Wang")
}}

{{
   person_tile("Yijia Xu",
               pageurl="https://xuyij.github.io/homepage/")
}}

{{
   person_tile("Elizabeth R. Bennewitz")
}}

{{
   person_tile("Eric Kubischta")
}}

{{
   person_tile("Jon Nelson")
}}

{{
   person_tile("Marianna Podzorova")
}}

{{
   person_tile("Benjamin Quiring")
}}

{{
   person_tile("Joel Rajakumar")
}}

{{
   person_tile("Manasi Shingane")
}}

{{
   person_tile("Ian Teixeira")
}}

{{
   person_tile("Finnegan Voichick")
}}

{{
   person_tile("Siddharth Taneja")
}}

{{
   person_tile("Xinyuan Zheng")
}}

{{
   person_tile("Chris Fechisin")
}}

{{
   person_tile("Antonio D. Córcoles",
               githubusername="",
               gscholaruser="_nYGfnIAAAAJ")
}}

{{
   person_tile("Arpit Dua",
               githubusername="dua-arpit",
               gscholaruser="w4ASA38AAAAJ")
}}

{{
   person_tile("Aleksander Kubica",
               githubusername="",
               gscholaruser="D8VDo7YAAAAJ")
}}


</section>

<p>
  Contributors are listed in chronological order.  See also
  the <a href="https://github.com/errorcorrectionzoo/eczoo_data/graphs/contributors"
         target="_blank">list of contributors on github.org</a>.
</p>

<p>
  The error correction zoo's data and related codes is stored on
  <a href="https://github.com/errorcorrectionzoo/eczoo_data"
  target="_blank">github.com</a>.  Feel free to submit pull requests, issues,
  and/or to get in touch with us with suggestions!
</p>


<h2>Other contributions</h2>
<!-- <h2>Other acknowledgments</h2> -->

We thank:

<ul>
  <li>
    <a href="https://arxiv.org/help/api/index" target="_blank">arxiv.org</a> and
    <a href="https://crossref.org/" target="_blank">crossref.org</a> for use of
    their open access interoperability.
  </li>
  <li>
    Ryhor Kandratsenia, Thomas E. Albert, and Tatyana R. Albert for providing
    child care duties.
  </li>
</ul>



<script type="text/javascript">
window.addEventListener('load', function() {
  document.querySelectorAll('.tile[data-tile-image]').forEach( function(tile) {
          tile.style.backgroundImage = "url('"+tile.dataset.tileImage+"')";
  } );
} );
</script>

{% endblock contents %}
