{% extends 'layout/static_page.html' %}

{% set page_title_text = 'Error Correction Zoo — About' %}

{% block contents %}

<h1>The Error Correction Zoo collects and organizes error-correcting codes.</h1>

<p>Error correction is what ensures that the audio in your phone calls remains
sharp, your hard drives do not deteriorate too quickly, and signals can be
reliably transmitted to remote satellites.</p>

<p>Over multiple decades, and with the explosion of the information age, an
enormous variety of error-correction schemes were developed.  Recently, a
radically new type of error correction was introduced, one that can protect the
quantum information that is stored in a quantum computer or that is communicated
over a quantum network.</p>

<p>We created the <i>Error Correction Zoo</i> to categorize and to organize
known classical and quantum error-correction schemes.  It is inspired by other
similar zoos, including the <a href="https://complexityzoo.net/"
target="_blank">complexity zoo</a> and
the <a href="https://quantumalgorithmzoo.org/" target="_blank">quantum algorithm
zoo</a>.</p>

<p>The information displayed in the zoo is stored in a structured form
on <a href="https://github.com/errorcorrectionzoo/eczoo_data/"
target="_blank">github.com</a>.  Do you feel like contributing? Don&#x27;t
hesitate to send us pull requests!</p>

<p>We hope you enjoy your visit! If you have feedback, please drop us a
line. We&#x27;d love to hear from you.</p>



<h1>The Zoo Team</h1>

<p>A <a href="{{ 'team' |prebaseurl }}">team of wonderful people</a> have made
  it possible to create and maintain this zoo.</p>


{% endblock contents %}
