{% extends 'layout/base_page.html' %}
{% block block_page_title %}Error Correction Zoo — About{% endblock %}

{% block contents %}

<h1>About the error correction zoo</h1>

<p>
  In the future, we'll display here some information about the error correction
  zoo, its scope, and the people involved.
</p>

<p>
  The error correction zoo's data and related codes is stored on
  <a href="https://github.com/errorcorrectionzoo/eczoo_data"
  target="_blank">github.com</a>.  Feel free to submit pull requests, issues,
  and/or to get in touch with us with suggestions!
</p>

{% endblock contents %}
