{% extends 'layout/base_page.html' %}
{% block block_page_title %}Error Correction Zoo — Acknowledgments{% endblock %}

{% block contents %}

{# <h1>Thank you.</h1> #}

<h2>The Zoo team</h2>

<ul>
<li><a href="https://scholar.google.com/citations?user=hyddAfkAAAAJ" target="_blank">Victor V. Albert (zookeeper)</a></li>
<li><a href="https://phfaist.com/" target="_blank">Philippe Faist (architect)</a></li>
</ul>

<h2>Veterinarians</h2>

<ul>
<li><a href="https://quics.umd.edu/people/daniel-gottesman" target="_blank">Daniel Gottesman</a></li>
<li><a href="https://user.eng.umd.edu/~abarg/" target="_blank">Alexander Barg</a></li>
<li><a href="https://scholar.google.com/citations?user=S8iAOo4AAAAJ" target="_blank">Leonid Pryadko</a></li>
</ul>

<h2>Code contributions</h2>

<ul>
<li><a href="https://scholar.google.com/citations?user=YWXgW2wAAAAJ" target="_blank">Michael Vasmer</a></li>
<li><a href="https://scholar.google.com/citations?user=vGDLxeoAAAAJ" target="_blank">Joschka Roffe</a></li>
<li><a href="https://scholar.google.com/citations?user=adjeaUkAAAAJ" target="_blank">Pavel Panteleev</a></li>
<li><a href="https://scholar.google.com/citations?user=YP7rWbkAAAAJ" target="_blank">Michael Gullans</a></li>
</ul>

<p>Contributors are listed in chronological order.</p>

<p>See also
the <a href="https://github.com/errorcorrectionzoo/eczoo_data/graphs/contributors"
target="_blank">full list of contributors on github.org</a>.</p>

<h2>Other contributions</h2>
<!-- <h2>Other acknowledgments</h2> -->

<ul>
<li> <code>arxiv.org</code> and <code>crossref.org</code> for use of their open access interoperability.
<li> Ryhor Kandratsenia, Thomas E. Albert, and Tatyana R. Albert for providing child care duties.</li>
</ul>

{% endblock contents %}
