{% extends 'layout/base_page.html' %}
{% block block_page_title %}Error Correction Zoo — Contributors{% endblock %}

{% block contents %}

<h1>Thank you.</h1>

<h2>Codes</h2>

<ul>
<li><a href="https://example.com/some/personal/web/page" target="_blank">Some Person</a></li>
</ul>

<h2>Other contributions</h2>

<ul>
<li><a href="https://example.com/some/personal/web/page" target="_blank">Some Person</a></li>
</ul>

<h2>Other acknowledgments</h2>

<p>
  We thank <code>arxiv.org</code> and <code>crossref.org</code> for use of their
  open access interoperability.
</p>

{% endblock contents %}
