{% extends 'layout/base_page.html' %}

{% set page_title_text = 'Home — Error Correction Zoo' %}
{% set page_header_large_text = 'Welcome to the error correction zoo' %}


{% set page_wide_layout = True %}
{% set page_no_navigation = True %}
{% set div_bodycontents_classes = ['page-index'] %}
{% set extra_js = [ 'js/eczhomestuff.js' | prebaseurl ] %}

{# when displaying domains on the home page #}
{% set max_num_codes = 3 %}
{% set max_num_codes_later = 1 %}



{% macro showcodelink(code_id) -%}
  {%- set code = zoo.get_code(code_id) -%}
  <a href="{{ code|code_ref_href }}">{{code.short_name()}}</a>
{%- endmacro %}


{# ******************************************** #}
{% block contents %}


{% set popular_code_id_list = [
  'binary_linear',
  'reed_solomon',
  'ldpc',
  'polar',

  'stabilizer',
  'css',
  'topological',
  'surface',
  'color',
  'qldpc',

  'gkp',
] %}

{% set heading_separator_html = '&nbsp;▸&nbsp;&nbsp;' | safe %}

<nav class="page-index-box">
  {#- <h1><a href="{{domain.htmlpage.path() | prebaseurl}}">{{domain.name}}</a></h1> -#}
  <ul class="page-index-box-links">

{# LIST SOME FAVORITES #}
    <li><span class="page-index-box-links-head">Jump to{{heading_separator_html}}</span></li>
      {%- for popular_code_id in popular_code_id_list -%}
        <li>{{- showcodelink(popular_code_id) -}}</li>
        {%- if not loop.last -%}
          , {# space after comma #}
        {%- endif -%}
      {%- endfor %}
    </li>

{# SMALL VERTICAL SPACE #}
    <li class="page-index-box-links-thin-separator"></li>

{# LIST DOMAINS/KINGDOMS #}
    {%- for domain in domains -%}
    <li><a href="{{domain.htmlpage.path() | prebaseurl}}"
           class="page-index-box-links-head">{{domain.name}}{{heading_separator_html}}</a></li>
    {%- for kingdom in domain.kingdoms -%}
      <li>{#- -#}
        <a href="{{ kingdom.htmlpage.path() | prebaseurl }}">{{kingdom.name}}</a>
          {%- if not loop.last -%}
            , {# space after comma #}
          {%- endif -%}
      </li>
    {%- endfor -%}
    {%- endfor -%}

  </ul>
</nav>





{% set max_display_box_codelistpage = 16 %}
<nav class="page-index-box">
  <ul class="page-index-box-links">
    <li><a href="{{ 'lists' | prebaseurl}}"
           class="page-index-box-links-head">Code lists{{heading_separator_html}}</a>
{%- for codelistpage in codelistpage_list[:max_display_box_codelistpage] -%}
      <a href="{{ codelistpage.path | prebaseurl }}">{{ codelistpage.title.to_html().strip()|safe }}</a>
      {%- if not loop.last -%}
        , {# space after comma -#}
      {%- endif -%}
{%- endfor -%}
{%- if codelistpage_list|length > max_display_box_codelistpage %}
  … (<a href="{{ 'lists' | prebaseurl }}">see all</a>)
{%- endif -%}
    </li>
  </ul>
</nav>




<nav class="page-index-box">
  <h1><a href="{{ '' | prebaseurl }}">Home Page</a></h1>
  <ul class="navlinks">
    <li><a href="{{ 'code_graph' | prebaseurl }}">Code graph</a></li>
    <li><a href="{{ 'lists' | prebaseurl }}">Code lists</a></li>
    <li><a href="{{ 'all' | prebaseurl }}">All codes</a></li>
    <!--<li><a href="{{ 'search' | prebaseurl }}">Search</a></li>-->
    <li>
      <form action="{{ 'search'|prebaseurl }}" method="GET">
        <input type="text" class="navbar-search" name="q" placeholder="search"></input>
      </form>
    </li>
  </ul>

  <h1>More</h1>
  <ul class="navlinks">
    <li><a href="{{ 'edit_code' | prebaseurl }}">Add new code</a></li>
    <li><a href="{{ 'additional_resources' | prebaseurl }}">Additional resources</a></li>
    <li><a href="{{ 'team' | prebaseurl }}">Team</a></li>
    <li><a href="{{ 'about' | prebaseurl }}">About</a></li>
  </ul>
</nav>

<nav class="page-index-box page-index-box-span-2" id="random-code-box">
  <span style="font-style:italic">(Random code loading …)</span>
</nav>


{% set zoo_stats = zoo.generate_stats( domains, [
    ['total_num_codes', ['code entries']],
    ['total_num_kingdoms', ['kingdoms']],
    ['total_num_domains', ['domains']],
    ['domain_ids_and_codetypes', [
        ['classical_domain', 'classical codes'],
        ['quantum_domain', 'quantum codes'],
        [ None, 'abstract property codes'],
    ]],
    ['code_familyhead_ids_and_codetypes', [
        ['topological', 'topological codes'],
        ['css', 'CSS codes'],
        ['qldpc','quantum LDPC codes'],
        ['oscillators', 'bosonic codes'],
    ]],
] ) %}

<nav class="page-index-box" id="quick-stats-box">
  Stats at a glance:
{# show stats generated by the zoo object directly, which can do more powerful logic #}
{% for (zoo_stat_number, zoo_stat_label) in zoo_stats %}
  {%- if loop.last -%}
    and
  {% endif -%}
  <span class="stat-number">{{ zoo_stat_number }}</span>&nbsp;{{zoo_stat_label}}
  {%- if loop.last -%}
    .
  {% else -%}
    ,
  {% endif %}
{% endfor %}
</nav>


{% endblock contents %}
{# ******************************************** #}
