{% extends 'layout/base_page.html' %}

{% set page_title_text = 'Home — Error Correction Zoo' %}
{% set page_header_large_text = 'Welcome to the error correction zoo' %}


{% set page_wide_layout = True %}
{% set page_no_navigation = True %}
{% set div_bodycontents_classes = ['page-index'] %}
{% set extra_js = [ 'js/eczhomestuff.js' | prebaseurl ] %}

{# when displaying domains on the home page #}
{% set max_num_codes = 3 %}
{% set max_num_codes_later = 1 %}


{# ******************************************** #}
{% block contents %}

{% for domain in domains %}

<nav class="page-index-box">
  <h1><a href="{{domain.htmlpage.path() | prebaseurl}}">{{domain.name}}</a></h1>
  <ul class="page-index-box-links">
    {% for kingdom in domain.kingdoms %}
      <li>
        <a class="page-index-box-links-head"
           href="{{ kingdom.htmlpage.path() | prebaseurl }}">{{kingdom.name}}</a>:
        {% set codes = zoo.get_code_family_tree(kingdom.code_id) | sort(attribute='family_generation_level') %}
        {# after two kingdoms, only show one code per kingdom in the same domain #}
        {% set this_max_num_codes = max_num_codes if loop.index0 < 2 else max_num_codes_later %}
        {% set num_codes = codes | length %}
        {%- for codeobj in codes[:this_max_num_codes] -%}
          {%- set code = codeobj -%}
          <a href="{{ code|code_ref_href }}">{{code.name}}</a>
          {%- if not loop.last -%}
            , {# space after comma #}
          {%- endif -%}
        {%- endfor -%}
        {%- if num_codes > this_max_num_codes -%}
          , <span class="spacer">…</span>
        {%- else -%}
          <span class="spacer">.</span>
        {%- endif -%}
      </li>
    {% endfor %}
  </ul>
</nav>
{% endfor %}

<nav class="page-index-box">
  <h1><a href="{{ '' | prebaseurl }}">Home Page</a></h1>
  <ul class="navlinks">
    <li><a href="{{ 'code_graph' | prebaseurl }}">Code graph</a></li>
    <li><a href="{{ 'lists' | prebaseurl }}">Code lists</a></li>
    <li><a href="{{ 'all' | prebaseurl }}">All codes</a></li>
    <!--<li><a href="{{ 'search' | prebaseurl }}">Search</a></li>-->
    <li>
      <form action="{{ 'search'|prebaseurl }}" method="GET">
        <input type="text" class="navbar-search" name="q" placeholder="search"></input>
      </form>
    </li>
  </ul>

  <h1>More</h1>
  <ul class="navlinks">
    <li><a href="{{ 'edit_code' | prebaseurl }}">Add new code</a></li>
    <li><a href="{{ 'additional_resources' | prebaseurl }}">Additional resources</a></li>
    <li><a href="{{ 'team' | prebaseurl }}">Team</a></li>
    <li><a href="{{ 'about' | prebaseurl }}">About</a></li>
  </ul>
</nav>

<nav class="page-index-box page-index-box-span-2" id="random-code-box">
  <span style="font-style:italic">(Random code loading …)</span>
</nav>


{% set zoo_stats = zoo.generate_stats( domains, [
    ['total_num_codes', ['code entries']],
    ['total_num_kingdoms', ['kingdoms']],
    ['total_num_domains', ['domains']],
    ['domain_ids_and_codetypes', [
        ['classical_domain', 'classical codes'],
        ['quantum_domain', 'quantum codes'],
        [ None, 'abstract property codes'],
    ]],
    ['code_familyhead_ids_and_codetypes', [
        ['topological', 'topological codes'],
        ['css', 'CSS codes'],
        ['qldpc','quantum LDPC codes'],
        ['oscillators', 'bosonic codes'],
    ]],
] ) %}

<nav class="page-index-box" id="quick-stats-box">
  Stats at a glance:
{# show stats generated by the zoo object directly, which can do more powerful logic #}
{% for (zoo_stat_number, zoo_stat_label) in zoo_stats %}
  {%- if loop.last -%}
    and
  {% endif -%}
  <span class="stat-number">{{ zoo_stat_number }}</span>&nbsp;{{zoo_stat_label}}
  {%- if loop.last -%}
    .
  {% else -%}
    ,
  {% endif %}
{% endfor %}
</nav>


{% endblock contents %}
{# ******************************************** #}
