{% extends 'layout/static_page.html' %}

{% set page_title_text = 'Search' %}

{% set extra_js = [ 'js/eczsearch.js'|prebaseurl ] %}


{% block contents %}

<!-- <h1>Search</h1> -->

<div
  id="EczooSearchWidget"
  data-search-widget-store-fetch-json="{{ 'dat/search_index_store.json' | prebaseurl }}"
  data-search-widget-ref-field="_page_id"
  data-search-widget-title-field="name"
  data-search-widget-href-field="_href"
  data-search-widget-context-length="200"
  >
<span style="font-style: italic">loading …</span>
</div>

{% endblock contents %}
