{% extends 'layout/static_page.html' %}

{% set page_title_text = 'Error Correction Zoo — Team' %}


{# Helper macro to display people #}

{% macro person_tile(person) %}
    <div class="tile tile-person"
       {% if person.avatarurl %}
         data-tile-image="{{person.avatarurl}}"
       {% elif person.githubusername %}
         data-tile-image="https://github.com/{{person.githubusername}}.png"
       {% else %}
         data-tile-image="{{ 'static/icons/avatar-unknown.svg' | prebaseurl }}"
       {% endif %}
       >{#
    #}<div class="tile-content">{#
      #}<div class="tile-person-line tile-persion-name-line">{#
        #}<span class="person-name">{{person.name}}</span>
        {%- if person.zoorole %}
        <span class="person-zoorole">
          ({{person.zoorole}})
        </span>
        {%- endif -%}
        </div>{#
      #}<div class="tile-person-line tile-person-links-line">
          {%- if person.pageurl -%}
            <span class="person-linkdetail person-pageurl">{#
            #}<a href="{{person.pageurl}}" target="_blank">web</a></span>
          {%- endif -%}
          {%- if person.gscholaruser -%}
            <span class="person-linkdetail person-gscholaruser">{#
            #}<a href="https://scholar.google.com/citations?user={{person.gscholaruser}}"
                 target="_blank">google scholar</a></span>
          {%- endif -%}
          {%- if person.githubusername -%}
            <span class="person-linkdetail person-githubusername">{#
            #}<a href="https://github.com/{{person.githubusername}}"
               target="_blank">github</a></span>
          {%- endif -%}
            &nbsp;{#
      #}</div>{#
    #}</div>{#
  #}</div>
{%- endmacro %}


{# THE CONTENTS OF THE WEB PAGE STARTS HERE --> #}

{% block contents %}

<h1>The Zoo core team</h1>

<section class="tiles-collection person-list">

{% for person in zoo_contributors_info.core %}

{{
   person_tile(person)
}}

{% endfor %}

</section>


<h1>With the awesome help of:</h1>

<h2>Veterinarians</h2>

<section class="tiles-collection person-list">

{% for person in zoo_contributors_info.veterinarians %}

{{
   person_tile(person)
}}

{% endfor %}

</section>


<h2>Code contributions</h2>

<section class="tiles-collection person-list two-columns">

{% for person in zoo_contributors_info.code_contributors %}

{{
   person_tile(person)
}}

{% endfor %}

</section>

<p>
  Contributors are listed in chronological order.  See also
  the <a href="https://github.com/errorcorrectionzoo/eczoo_data/graphs/contributors"
         target="_blank">list of contributors on github.org</a>.
</p>

<p>
  The error correction zoo&#x27;s data and related codes is stored on
  <a href="https://github.com/errorcorrectionzoo/eczoo_data"
  target="_blank">github.com</a>.  Feel free to submit pull requests, issues,
  and/or to get in touch with us with suggestions!
</p>


<h2>Other contributions</h2>
<!-- <h2>Other acknowledgments</h2> -->

We thank:

<ul>
  <li>
    <a href="https://arxiv.org/help/api/index" target="_blank">arxiv.org</a> and
    <a href="https://crossref.org/" target="_blank">crossref.org</a> for use of
    their open access interoperability.
  </li>
  <li>
    Ryhor Kandratsenia, Thomas E. Albert, and Tatyana R. Albert for providing
    child care duties.
  </li>
</ul>



<script type="text/javascript">
window.addEventListener('load', function() {
  document.querySelectorAll('.tile[data-tile-image]').forEach( function(tile) {
          tile.style.backgroundImage = "url('"+tile.dataset.tileImage+"')";
  } );
} );
</script>

{% endblock contents %}
