{% extends 'layout/base_page.html' %}

{% block contents %}

<!-- app will plug into #main element -->

{# copied from cytoscape.js-fcose/demo/demo.html #}

<script type="text/javascript"
        src="https://unpkg.com/cytoscape/dist/cytoscape.min.js"></script>

<script type="text/javascript"
        src="https://unpkg.com/layout-base/layout-base.js"></script>
<script type="text/javascript"
        src="https://unpkg.com/cose-base/cose-base.js"></script>
{#<script type="text/javascript"
        src="https://unpkg.com/cytoscape-layout-utilities/cytoscape-layout-utilities.js"
        ></script>#}
<script type="text/javascript"
        src="https://unpkg.com/cytoscape-fcose/cytoscape-fcose.js"></script>


{% endblock contents %}
