{% extends 'dyn_pages/codelistpage_base.html' %}


{% block div_bodycontents_class -%}
  codelistpage codelistpage_style_table
{%- endblock %}


{% macro render_template_variable(variable) -%}
  {{variable}}
{%- endmacro %}

{% set colinfo = display_options.columns %}


{% block listcontents %}
<table class="codelistpage-table {{display_options.cssclass}}">
<thead>
<tr>
{% for col in colinfo %}
  <th>{{col.title}}</th>
{% endfor %}
</tr>
</thead>
<tbody>
{% for code in code_list %}
{% set row_counter = loop.index %}
<tr>
{% for col in colinfo %}
  <td {% if col.cssclass %}class="{{col.cssclass}}"{% endif %}>
    {%- if col.predefined -%}
      {%- if col.predefined == 'counter' -%}
        {{ row_counter }}
      {%- else -%}
        ??
      {%- endif -%}
    {%- elif col.property -%}
      {%- if col.link_to_code %}<a href="{{code|code_ref_href}}">{% endif -%}
        {%- if col.first_paragraph_only -%}
          {{ code[ col.property ].get_first_paragraph() | to_html_with_notes(rc) }}
        {%- else -%}
          {{ code[ col.property ] | to_html_with_notes(rc) }}
        {%- endif -%}
      {%- if col.link_to_code %}</a>{% endif -%}
    {%- endif -%}
  </td>
{% endfor %}
</tr>
{% endfor %}
</tbody>
</table>

{% endblock %}
