{% extends 'dyn_pages/codelistpage_base.html' %}


{% block div_bodycontents_class -%}
  codelistpage codelistpage_style_index
{%- endblock %}


{% block listcontents %}

<ol class="code-index">
{% for code in code_list %}
  <li>
    <span class="code-name">
      {{- code|code_ref -}}
      {%- if display_options.show_introduced and code.introduced -%}
        <span class="code-introduced">
          {{- code.introduced|to_html_with_notes(rc) -}}
        </span>
      {%- endif -%}
    </span>
    {%- if display_options.show_description -%}
      {%- if display_options.description_first_paragraph -%}
        {%- set desc = code.description.get_first_paragraph() -%}
      {%- else -%}
        {%- set desc = code.description -%}
      {%- endif -%}
      <span class="code-description">{{desc|to_html_with_notes(rc)}}</span>
    {%- endif -%}
  </li>
{% endfor %}
</ol>

{% endblock %}
