{% extends 'layout/base_page.html' %}


{% block div_bodycontents_class -%}
  codelistpage
{%- endblock %}


{% block contents %}

{# ** BLOCK INTRO ** #}
{% block intro %}
{%- if codelistpage_data.intro -%}
  {{ codelistpage_data.intro | llmrender(rc) }}
{%- endif -%}
{% endblock %}
{# **** #}

{# ** BLOCK LISTCONTENTS ** #}
{% block listcontents %}

{% for code in code_list %}

  {% include 'pieces/code_info_short.html' %}

{% endfor %}

{% endblock listcontents %}
{# **** #}


<!-- endnotes -->
<RENDER_ENDNOTES/>


{% endblock contents %}
