
.ecc-code {
    @include card-item;

    p, ul, ol {
        margin-top: $inner-parskip-half-length;
        margin-bottom: $inner-parskip-half-length;
    }
}
.ecc-code.ecc-code-page {
    border: none 0px;
}

$ecc-dl-left-column-width: 120px;

@mixin ecc-label-dt-word-wrap {
    max-width: $ecc-dl-left-column-width;
}

dl.ecc-code {

    grid-template-columns: max-content 1fr auto;

    > dt {
        min-width: $ecc-dl-left-column-width;
    }
    
    > dt.dt-wrap-label {
        @include ecc-label-dt-word-wrap;
    }

    > dd {
        margin-left: 1rem;
        grid-column-start: 2;
        grid-column-end: 4;

        width: 100%;
    }
    
    > dt, > dd
    {
        padding: 2px 0px;
        margin-bottom: 10px;
    }

    >dd.code-name {
        grid-column-end: 3;
    }
    >dd.info-popup-button-container {
        margin-top: 0px;
        grid-column-start: 3;
        grid-row-start: 1;
    }


    .na {
        font-style: italic;
        color: $text-dim-color;
    }

    .code-relations-list {
        list-style: none;
        padding: 0px;
        margin: 0px;
    }

    span.code-introduced {
        display: inline-block;
        margin-left: 0.3em;
    }

    dt.code-feature-code_capacity_threshold {
        @include ecc-label-dt-word-wrap;
    }

}

// adjustments for small screens
@media (max-width: $page-main-width+2*$page-main-margins) {
    dl.ecc-code {
        display: block;
        margin-top: 0px;

        > dt {
            display: block;

            margin-bottom: 3px;
        }
        > dd {
            display: block;
            margin-left: 0px;
        }

        // hide label "Name:" on narrow screens
        dt.code-name {
            display: none;
        }

        .info-popup-button-container {
            display: block;
            //margin-top: 1rem;

            .popup-info-button {
                margin-top: 0px;
            }

            .tippy-container {
                text-align: left;
            }
        }

    }
}
