
@import 'variables.scss';

//
// Import fonts here, not in variables.scss, because we might include
// variables.scss in other SCSS files.
//
// import "Source Sans Pro" from google fonts ->
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,300;0,400;0,600;1,300;1,400;1,600&display=swap');



////////////////////////////////////////////////////////////////////////////////
//
// Basic page grid
//
////////////////////////////////////////////////////////////////////////////////

@import 'pagegrid.scss';


////////////////////////////////////////////////////////////////////////////////
//
// fonts and basic appearance
//
////////////////////////////////////////////////////////////////////////////////

body, html {
    font-family: $base-font-family;
    font-size: $base-font-size;
    line-height: 1.3em;
}

a, a:link, a:hover, a:active, a:visited {
    color: $page-link-color;
    text-decoration: none;
}
a:hover {
    color: $page-link-highlight-color;
    text-shadow: rgba($page-link-color,0.25) 2px 1px 5px;
}

h1 {
    font-size: 30px;
    font-weight: 350;
    line-height: 1.6em;
}

p, ul, ol {
    margin-top: $parskip-half-length;
    margin-bottom: $parskip-half-length;
}
p:first-child, ul:first-child, ol:first-child {
    margin-top: 0px;
}
p:last-child, ul:last-child, ol:last-child {
    margin-bottom: 0px;
}



// definition lists with "terms" (<dt>) on the left and "definitions" (<dd>) on
// the right
dl {
    display: grid;
    grid-template-columns: max-content auto;
}
dt {
    grid-column-start: 1;
    /*font-weight: bold;*/
    font-style: italic;
}
dd {
    grid-column-start: 2;
    //margin-left: 25px;
    margin-left: 1rem;
}



////////////////////////////////////////////////////////////////////////////////
//
// main heading style
//
////////////////////////////////////////////////////////////////////////////////

#header {
    background-color: rgb(0,0,127);
    color: rgba(255,255,255,0.9);
    padding: 3px ($page-header-bleed+3px);
    margin-top: 0px;
    margin-left: -$page-header-bleed;
    margin-right: -$page-header-bleed;
    margin-bottom: $page-header-gap;
}

// remove bleed for full-width pages
#bodycontents.app-full-width  #header {
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 3px;
    padding-right: 3px;
}


//
// Add logo as background-image with BETA marker
//
#header {
    background-image: url(prebaseurl('static/icons/eczoo-main-logo.svg'));
    background-position: 97% 50%;
    background-size: auto 80%;
    background-repeat: no-repeat;

    z-index: 100;
    box-shadow: rgba(0,0,0,0.15) 5px 5px 10px;
}
.app-full-width #header {
    box-shadow: none;
}

@media (max-width: $page-main-width+2*$page-main-margins) {
#header {
    background-image: url(prebaseurl('static/icons/eczoo-main-logo-mobile.svg'));
}
}




////////////////////////////////////////////////////////////////////////////////
//
// navigation sidebar styling
//
////////////////////////////////////////////////////////////////////////////////

#sidebar {
    min-width: $page-sidebar-width;
}


// sidebar contents

#sidebar h1 {
    //font-size: 1.1rem;
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 0.5em;
}
#sidebar .sidebarbox {
    //border: dotted 1px gray; /*rgba(127,0,0,0.25);*/

    border: none 0px;
    background-color: rgba(245,245,255,1.0);

    z-index: 90;
    box-shadow: rgba(0,0,0,0.08) 3px 3px 6px;

    padding: 5px;
}
.app-full-width #sidebar .sidebarbox {
    box-shadow: none;
}


.navlinks {
    list-style: none;
    padding: 0px 0px 0px 1px;
    margin: 0px;
}
.navlinks > li {
    padding: 2px 0px;
}


////////////////////////////////////////////////////////////////////////////////
//
// footer styling
//
////////////////////////////////////////////////////////////////////////////////

#footer {
    font-style: italic;
    font-size: $tiny-fine-print-font-size;
    font-color: $text-dim-color;
    padding: 4px;

    margin-bottom: 20px;
}




////////////////////////////////////////////////////////////////////////////////
//
// main section, all pages
//
////////////////////////////////////////////////////////////////////////////////


@mixin card-item {
    margin: 1rem 0px 1rem;
    padding: 10px;
    border: solid 1px rgba($text-dim-color,0.15);
}



////////////////////////////////////////////////////////////////////////////////
//
// main section for code list pages
//
////////////////////////////////////////////////////////////////////////////////

.ecc-code {
    @include card-item;
}
.ecc-code.ecc-code-page {
    border: none 0px;
}

//$ecc-dl-left-column-width: 120px;
$ecc-dl-left-column-width: 90px;


.ecc-code {
    > dt {
        //min-width: 120px;
        min-width: $ecc-dl-left-column-width;
    }
    
    > dt.dt-wrap-label {
        max-width: $ecc-dl-left-column-width;
    }

    > dd {
        margin-left: 1rem;
    }
    
    > dt, > dd
    {
        padding: 2px 0px;
        margin-bottom: 10px;
    }
}

.na {
    font-style: italic;
    color: $text-dim-color;
}

.code-relations-list {
    list-style: none;
    padding: 0px;
    margin: 0px;
}

.code-introduced {
    display: inline-block;
    margin-left: 0.5em;
}

a.code-info-corner-icon {
    display: inline-block;
    float: right;
    margin: -3px 0px -3px 5px;
    padding: 3px 5px;
    color: $text-dim-color;

    opacity: 0.2;
    //opacity: 0.9;

    width: 12px;
    height: 12px;
    margin-top: 2px;
    vertical-align: middle;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
a.code-info-corner-icon:hover {
    opacity: 0.9;
    //opacity: 1.0;
    //background-color: rgba($page-link-highlight-color, 0.1);
    //box-shadow: rgba($page-link-highlight-color, 0.1) 3px 3px 5px;
}

a.code-link-with-icon {
    display: inline-block;

    vertical-align: middle;

    min-height: 12px;
    margin-right: 1rem;
    padding: 5px 5px 5px 17px;
    background-size: 12px 12px;
    background-position: 0% 50%;
    background-repeat: no-repeat;
}

a.code-self-permalink {
    background-image: url(prebaseurl('static/icons/permalink-logo.svg'));
}
a.code-show-github {
    background-image: url(prebaseurl('static/icons/github-logo.svg'));
}
a.code-self-edit {
    background-image: url(prebaseurl('static/icons/edit-icon.svg'));
}


dd.code-name {
    font-weight: bold;
}

.display-code-id {
    margin-top: 1.5rem;

    // font-size: $tiny-fine-print-font-size;
    color: $text-dim-color;

}


// when displaying point lists in code properties

.paragraph-in-list {
    display: block;
    margin-top: $parskip-half-length;
    margin-bottom: $parskip-half-length;
    margin-left: 1rem;
}
.paragraph-in-list:first-child {
    margin-top: 0px;
}
.paragraph-in-list:last-child {
    margin-bottom: 0px;
}

.paragraph-in-list::before {
    content: '\25b9';  // triangle right
    font-size: 0.65rem;
    float: left;
    margin-left: -0.8rem;
    color: $text-dim-color;
}

.paragraph-in-list:only-child {
    margin-left: 0px;
}
.paragraph-in-list:only-child::before {
    display: none;
}


////////////////////////////////////////////////////////////////////////////////
//
// mini-latex formatting
//
////////////////////////////////////////////////////////////////////////////////

@import 'minilatex-formatting.scss';



////////////////////////////////////////////////////////////////////////////////
//
// visual highlight for links to anchors within page
//
////////////////////////////////////////////////////////////////////////////////

@import 'visual-highlight.scss';



////////////////////////////////////////////////////////////////////////////////
//
// endnotes: citations and footnotes
//
////////////////////////////////////////////////////////////////////////////////

#endnotes {
    // border: dotted 1px gray;
    // padding: 3px;

    @include card-item;

    opacity: 0.85;

    font-size: $small-font-size;

    margin-bottom: 20px;

    dl {
        margin-top: 0px;
        margin-bottom: 0px;
    }

    dt {
        font-style: normal;
        min-width: 2.5em;
        text-align: right;
    }

    dd {
        margin-left: 5px;
        margin-bottom: 0.4em;
    }

    dt, dd {
        transition: background-color 0.5s;
    }

    // superscript text for footnotes, not for citations
    #footnotes {
        dt {
            @include fixbaseline-superscript-text;
        }
    }

}

////////////////////////////////////////////////////////////////////////////////
//
// code info short version
//
////////////////////////////////////////////////////////////////////////////////

.short-code-name {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}
.short-code-description {
    font-style: italic;
    display: block;
    margin-bottom: 10px;
}
.short-code-info {
    font-style: italic;
    display: block;
    margin-bottom: 10px;
}



////////////////////////////////////////////////////////////////////////////////
//
// code index style
//
////////////////////////////////////////////////////////////////////////////////

.code-index {
    li {
        margin-bottom: 0.7rem;
    }

    .code-name {
        padding-right: 1em;
        font-weight: bold;
    }
    .code-description {
    }
}



////////////////////////////////////////////////////////////////////////////////
//
// Search page
//
////////////////////////////////////////////////////////////////////////////////

@import 'search-page.scss'
