
.emph, .textit {
    font-style: italic;
}
.textbf {
    font-weight: bold;
}


@mixin fixbaseline-superscript-text {
    font-size: $endnote-superscript-font-size;

    // "vertical-align: super" shifts the entire baseline downwards, not nice
    // vertical-align: top;

    display: inline-block;
    
    // shift upwards to make superscript, without shifting the baseline
    // downwards.
    vertical-align: 0.3em;
    margin-top: -0.3em;
}

.cite {
    @include fixbaseline-superscript-text;
}
.footnote {
    @include fixbaseline-superscript-text;
}

