//
// Base dimensions
//

$page-main-width: 850px;

$page-main-margins: 15px;

$page-sidebar-margin: 20px;
$page-sidebar-width: 220px;

$page-header-bleed: 10px;
$page-header-gap: 0px; //10px;

$main-content-top-space: 1rem;

$page-footer-gap: 10px;


//
// Base fonts
//

// $base-font-family: "Helvetica Neue", "Arial", sans-serif;
// $base-font-size: 15px;
// $base-font-family: "Helvetica", "Arial", sans-serif;
// $base-font-size: 14px;

$base-font-family: "Source Sans Pro", sans-serif;
$base-font-size: 16px;
// font "Source Sans Pro" is @import'ed from google fonts in main.scss.

$small-font-size: 0.9rem;

$endnote-superscript-font-size: 0.8rem;

$tiny-fine-print-font-size: 0.8rem;


$parskip-half-length: 0.5em;
$inner-parskip-half-length: 0.35em;


//
// Base colors
//

// page header
$pageheader-background-color: rgb(0,0,127);
$pageheader-text-color: rgba(255,255,255,0.9);

// page contents

$page-link-color: rgba(50,50,200,1.0);
$page-link-highlight-color: rgba(80,80,255,1.0);

$text-dim-color: rgba(120, 120, 140, 1.0);

$inner-heading-color: rgb(40,40,80); //lighten(desaturate($pageheader-background-color, 70%), 20%);

$discreet-border-color: rgba($text-dim-color,0.15);

$sidebar-panel-background-color: rgba(245,245,255,1.0);

$visual-highlight-color: rgba(255,230,70,0.8);
