//
// Base dimensions
//

$page-max-width: 850px;
$page-max-main-width: 625px;
$page-collapse-layout-width: 600px;

$page-main-margins: 15px;

// $page-home-box-margin: 20px;
// $page-home-box-width: 220px;

$page-header-bleed: 10px;
$page-header-gap: 0px; //10px;

$main-content-top-space: 1rem;

$page-footer-gap: 36px;


//
// Base fonts
//

// $base-font-family: "Helvetica Neue", "Arial", sans-serif;
// $base-font-size: 15px;
// $base-font-family: "Helvetica", "Arial", sans-serif;
// $base-font-size: 14px;

$base-font-family: "Source Sans Pro", sans-serif;
$base-font-size: 16px;
// font "Source Sans Pro" is @import'ed from google fonts in main.scss.

$small-font-size: 0.9rem;

// "em" instead of "rem" e.g. for citation marks in headings
$endnote-superscript-font-size: 0.8em;

$tiny-fine-print-font-size: 0.8rem;

$pageheader-navigation-font-size: 0.95rem;


$parskip-half-length: 0.5em;
$inner-parskip-half-length: 0.3em;


//
// Base colors
//

// page header
$pageheader-background-color: rgb(0,0,127);
$pageheader-text-color: rgba(255,255,255,0.9);

$pageheader-navigation-text-color: rgb(255, 194, 164);
$pageheader-navigation-links-color: rgb(255, 194, 164);
$pageheader-navigation-links-highlight-color: lighten($pageheader-navigation-links-color, 5%);

// page contents

$page-link-color: rgba(50,50,200,1.0);
$page-link-highlight-color: rgba(80,80,255,1.0);

$text-dim-color: rgba(120, 120, 140, 1.0);

$inner-heading-color: rgb(40,40,80); //lighten(desaturate($pageheader-background-color, 70%), 20%);

$discreet-border-color: rgba($text-dim-color,0.15);

$home-box-panel-background-color: rgba(245,245,255,1.0);

$visual-highlight-color: rgba(255,230,70,0.8);
