
$page-main-width: 800px;

$page-main-margins: 15px;

$page-sidebar-margin: 20px;
$page-sidebar-width: 220px;

$page-header-bleed: 10px;
$page-header-gap: 10px;

$page-footer-gap: 10px;


$base-font-family: "Helvetica Neue", "Arial", sans-serif;
$base-font-size: 14px;


$page-link-color: rgba(50,50,200,1.0);
$page-link-highlight-color: rgba(80,80,255,1.0);
