
@mixin visual-highlight {
    background-color: $visual-highlight-color !important;
    box-shadow: $visual-highlight-color 0px 0px 10px;
    transition: background-color 0.4s;
}

.visual-highlight {
    @include visual-highlight;
}
.visual-highlight + dd {
    @include visual-highlight;
}



