<dl class="ecc-code" id="{{code.code_id}}">

<dt>Name</dt>
<dd class="code-name">{{code.name}}</dd>

<dt>Encoding</dt>
<dd class="code-encoding">{{code.data.encoding}}</dd>

<dt>Protection</dt>
<dd class="code-encoding">{{code.data.protection}}</dd>

<dt>Notable Features</dt>
<dd class="code-features">{{code.features}}</dd>

<dt>Parent(s)</dt>
<dd class="code-parents">
{% if not code.relations.parents %}
  <span class="na">(no parents to show)</span>
{% endif %}
{% for parent in code.relations.parents %}
  <span class="code-parent-1-code">{{ parent.code | code_ref }}</span>
  {% if parent.detail %}
      <span class="code-parent-1-detail">({{parent.detail}})</span>
  {% endif %}
  {{ ", " if not loop.last else "" }}
{% endfor %}
</dd>

{% if code.relations.parent_of %}
<dt>Parent Of</dt>
<dd class="code-parent-of">
{% for child in code.relations.parent_of %}
  <span class="code-parent-of-1-code">{{ child.code | code_ref }}</span>
  {% if child.detail %}
    <span class="code-parent-of-1-detail">({{child.detail}})</span>
  {% endif %}
  {{ ", " if not loop.last else "" }}
{% endfor %}
</dd>
{% endif %}

<dt>Cousin(s)</dt>
<dd class="code-cousins">
{% if not code.relations.cousins %}
  <span class="na">(no cousins to show)</span>
{% endif %}
{% for cousin in code.relations.cousins %}
  <span class="code-cousin-1-code">{{ cousin.code | code_ref }}</span>
  {% if cousin.detail %}
      <span class="code-cousin-1-detail">({{cousin.detail}})</span>
  {% endif %}
  {{ ", " if not loop.last else "" }}
{% endfor %}
</dd>

{% if code.relations.cousin_of %}
<dt>Cousin Of</dt>
<dd class="code-cousin-of">
{% for cousin in code.relations.cousin_of %}
  <span class="code-cousin-of-1-code">{{ cousin.code | code_ref }}</span>
  {% if cousin.detail %}
    <span class="code-cousin-of-1-detail">({{cousin.detail}})</span>
  {% endif %}
  {{ ", " if not loop.last else "" }}
{% endfor %}
{% endif %}
</dl>
