<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{{page_title}} [error correction zoo]</title>

  <link type="text/css" rel="stylesheet" href="{{ 'css/main.css' | prebaseurl }}" />
  <script type="text/javascript" async
	  src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
  </script>

{% for css in extra_css %}
  <link type="text/css" rel="stylesheet" href="{{ css }}" />
{% endfor %}
{% for js in extra_js %}
  <script type="text/javascript" async src="{{ js }}">
  </script>
{% endfor %}

</head>
<body>
<div
  id="bodycontents"
  class="{{ 'app-full-width' if page_app_full_width else '' }}"
  >

  <header id="header">
    <h1>{{page_title}}</h1>
  </header><!-- #header -->

  <main id="main">
