<!DOCTYPE html>
<html>
  <head>
    <title>{{code.data.name}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type="text/javascript" async
	    src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
    </script>
  </head>
  <body>
    <h1 class="code-name">{{code.data.name}}</h1>
    <p class="code-description">{{code.data.description}}</p>

    <h2>Parents</h2>
    <ul>
{% for parent in code.parents() %}
      <li><b>{{parent.code}}</b> {% if parent.detail %}({{parent.detail}}){% endif %}</li>
{% endfor %}
    </ul>

  </body>
</html>
