
  <nav id="sidebar">
    <div class="sidebarbox">
      <h1>Pages</h1>
      <ul class="navlinks">
        <li><a href="{{ 'index.html' | prebaseurl }}">Home</a></li>
        <li><a href="{{ 'pretty_code_graph.html' | prebaseurl }}">Code graph</a></li>
        <li><a href="{{ 'about.html' | prebaseurl }}">About</a></li>
      </ul>
      <h1>Codes</h1>
      <ul class="navlinks">
{% for page in nav_pages %}
{% if page.list_in_sidebar %}
        <li><a href="{{ page.path() | prebaseurl }}">{{page.info.page_title}}</a></li>
{% endif %}
{% endfor %}
      </ul>
      <h1>Additional resources</h1>
      <h1>Code tables</h1>
      <h1>Acknowledgments</h1>
      <ul class="navlinks">
        <li><a href="{{ 'contributors.html' | prebaseurl }}">Contributors</a></li>
      </ul>
    </div>
  </nav><!-- #sidebar -->
