
  <nav id="sidebar">
    <div class="sidebarbox">
      <h1>Navigation</h1>
      <ul class="navlinks">
        <li><a href="{{ 'index.html' | prebaseurl }}">Home</a></li>
{% for page in nav_pages %}
        <li><a href="{{ page.name+page.ext | prebaseurl }}">{{page.info.page_title}}</a></li>
{% endfor %}
      </ul>
      <h1>Additional resources</h1>
      <h1>Code tables</h1>
      <h1>Acknowledgments</h1>
      <ul class="navlinks">
        <li><a href="{{ 'contributors.html' | prebaseurl }}">Contributors</a></li>
      </ul>
    </div>
  </nav><!-- #sidebar -->
