
  <nav id="sidebar">
    <div class="sidebarbox">
      <!--<h1>Pages</h1>-->
      <ul class="navlinks">
        <li><a href="{{ '' | prebaseurl }}">Home</a></li>
        <li><a href="{{ 'code_graph' | prebaseurl }}">Code graph</a></li>
        <li><a href="{{ 'all' | prebaseurl }}">All codes</a></li>
      </ul>
{% for domain in domains %}
      <h1><a href="{{domain.htmlpage.path() | prebaseurl}}">{{domain.name}}</a></h1>
      <ul class="navlinks">
        {% for kingdom in domain.kingdoms %}
        <li><a href="{{ kingdom.htmlpage.path() | prebaseurl }}">{{kingdom.name}}</a></li>
        {% endfor %}
      </ul>
{% endfor %}
      <h1>More</h1>
      <ul class="navlinks">
        <li><a href="{{ 'about' | prebaseurl }}">About</a></li>
        <li><a href="{{ 'contributors' | prebaseurl }}">Acknowledgments</a></li>
      </ul>
      <h1>Additional resources</h1>
      <ul class="navlinks">
        <li>…</li>
      </ul>
    </div>
  </nav><!-- #sidebar -->
